<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
            
                <!-- 项目 1 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.10</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">自建催收平台 | 有利网</span>
                    <p>主要技术：Dubbo、RocketMQ、MyBatis、redis、cas等</p>
                    <p>1.负责获取贷后、贷前数据，将逾期案件流入催收平台，并统计坐席与分公司绩效；</p>
					<p>2.负责平台需求迭代，功能持续集成；</p>
                </div>
                
                <!-- 项目 1 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.4</strong> - <strong>2017.09</strong></span>
                    </time>
                    <h3>Team Loader</h3>
                    <span class="education-company">北京某交易中心 | 云网高科</span>
                    <p>主要技术：spring-boot、Rabbitmq、swagger、redis、cas等</p>
                    <p>1.负责与客户沟通需求，相关文档编写以及技术栈选择；</p>
					<p>2.负责团队内部相关技术栈培训；</p>
					<p>3.负责核心架构设计与研发，技术方案设计与难点技术问题攻关。</p>
					<p>4.负责SoupUI Rest接口自动化测试及相关文档编写。</p>
                </div>

				<!-- 项目 2 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.5</strong> - <strong>2017.09</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">GRAPES大数据分析平台 | 云网高科</span>
                    <p>主要技术：spring mvc、hibernate、hadoop、redis、javaFx、gribApi等</p>
                    <p>1.负责项目可行性调研与需求分析，可行性分析报告编写，整体规划和项目控制等；</p>
					<p>2.负责架构设计与核心开发、集群部署；</p>
					<p>3.负责技术方案设计与难点技术问题攻关。</p>
                </div>
                
				<!-- 项目 3 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2016.11</strong> - <strong>2017.04</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">国家OID注册中心 | 云网高科</span>
                    <p>主要技术：spring mvc、MyBatis、Kafka 、redis、powerdns等</p>
                    <p>1.负责项目的设计和核心开发工作。</p>
					<p>2.参与系统整体架构设计，并编写相应的技术文档。</p>
					<p>3.负责OID注册中心平台面向搜索引擎的SEO优化。</p>
                </div>
                
				<!-- 项目 4 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2016.03</strong> - <strong>2016.06</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">京津冀环境气象预警平台 | 云网高科</span>
                    <p>主要技术：spring mvc、MyBatis、Kafka 、redis、powerdns等</p>
                    <p>1.负责系统重构改版，核心架构设计与搭建，旧业务代码迁移；</p>
		    <p>2.整合多种数据源，统一数据平台；</p>
		    <p>3.系统日常维护。</p>
                </div>
                
		<!-- 项目 5 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2014.08</strong> - <strong>2016.11</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">全国环境气象服务业务系统台 | 云网高科</span>
                    <p>主要技术：hibernate、spring mvc、tiles2、jsp、POI、Redis、quartz、easyUI、webGis、echarts 等</p>
                    <p>1. 参与所有模块的开发与技术方案设计；</p>
		    <p>2. 系统升级，前端插件修改为easyUI，webGis改为高德地图，从原项目中抽取数据库子系统单独部署运行，oracle dataguard HA方案实施部署；</p>
		    <p>3. 系统日常需求迭代，并到四川、河南等地实地部署，人员培训，并对系统进行本地化处理。</p>
                </div>

				<!-- 项目 2 -->
                <!-- <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span><strong class="text-upper">2017.4</strong> - <strong>2017-09</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">北京某交易中心 | 云网高科</span>
                    <p>使用技术为spring-boot、Rabbitmq、swagger、redis等等</p>
                    <p>1.负责与客户沟通需求，相关文档编写以及技术栈选择。</p>
					<p>2.负责团队内部培训相关技术栈的内容。</p>
					<p>3.负责核心架构设计与核心开发，技术方案设计与难点技术问题攻关。</p>
					<p>4.负责SoupUI Rest接口自动化测试及相关文档编写。</p>
					<p>5.Rabbitmq，websocket工作台开发。</p>
                </div>	 -->
            </div>
        </div>
    </div>
</section><!-- .section -->
