<section class="section" id="talkMe">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">自我评价</h2>
            <div class="ref-box hreview">
                <div class="ref-info">
                    <blockquote class="ref-cont clear-mrg">
						<p>本人具有多年的互联网和企业级应用项目开发经验，公司的核心成员；</p>
						<p>对于新技术和技术趋势有着良好的理解，乐于接受前沿技术和最新理念，对大数据、人工智能等领域有浓厚的兴趣，活跃于GitHub、CSDN、oschina等；</p>
						<p>团队合作精神和沟通能力强，能够与团队共进步，善于需求分析，提供解决方案；多次参与项目前期调研、标书编写等；</p>
						<p>目前在公司内主要负责系统核心架构设计与开发、分析解决系统的难点技术问题；</p>
						<p>正在带领团队进行大数据方向的技术转型。</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
