<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>{{ site.sex }}</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>{{ site.birth }}</dd>

                <dt class="text-upper">手机</dt>
                <dd>{{ site.phone }}</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>
               
                <dt class="text-upper">学历</dt>
                <dd>{{ site.education }}</dd>
                
                {% if site.english %}
                <dt class="text-upper">英语</dt>
                <dd>{{ site.english }}</dd>
                {% endif %}
                
                {% if site.Japanese %}
                <dt class="text-upper">日语</dt>
                <dd>{{ site.Japanese }}</dd>
                {% endif %}
                
                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
