<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
            
                <!-- 项目 6 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.10</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">有利网催收平台 | 有利网</span>
                    <p>主要技术：spring mvc、Dubbo、RocketMQ、MyBatis、redis、cas等</p>
                    <p>1.负责平台内电催、直催、委外、法务等催收相关服务的系统设计、开发、需求迭代等；</p>
                    <p>2.负责平台对接贷后、风控、贷前、BI、理财、呼叫中心等不同平台；</p>
                    <p>3.负责平台内跑批相关任务、平台内部权限机构等开发</p>
                </div>
                
                <!-- 项目 5 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.4</strong> - <strong>2017.09</strong></span>
                    </time>
                    <h3>Team Loader</h3>
                    <span class="education-company">北京某交易中心 | 云网高科</span>
                    <p>主要技术：spring-boot、Rabbitmq、smartAdmin、swaggerUI、AngularJS2、redis等</p>
                    <p>1.负责与客户沟通需求，相关文档编写以及技术栈选择；</p>
					<p>2.负责团队内部相关技术栈培训；</p>
					<p>3.负责核心架构设计与研发，技术方案设计与难点技术问题攻关。</p>
					<p>4.负责SoupUI Rest接口自动化测试及相关文档编写。</p>
                </div>

				<!-- 项目 4 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2017.5</strong> - <strong>2017.10</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">GRAPES大数据分析平台 | 云网高科</span>
                    <p>主要技术：spring mvc，hibernate，hadoop，hbase, redis，kafka，javaFx，gribApi等</p>
                    <p>1.负责项目可行性调研与需求分析，可行性分析报告编写，整体规划和项目进度控制等；</p>
					<p>2.负责核心架构设计，技术方案设计，难点技术问题攻关；</p>
					<p>3. 负责项目alpha版本的研发，包括编写解析数据的shell、python脚本，服务端程序研发，集群搭建项目部署等。</p>
                </div>
                
				<!-- 项目 3 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2016.11</strong> - <strong>2017.04</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">国家OID注册中心 | 云网高科</span>
                    <p>主要技术：MyBatis，spring mvc，Kafka，shiro，higcharts，powerdns，cxf等</p>
                    <p>1.负责与客户沟通需求，项目需求文档、概要设计编写；</p>
					<p>2.参与系统整体架构设计，内容管理系统和Oid管理系统开发，编写相关的技术文档；</p>
					<p>3.负责平台的SEO优化。</p>
                </div>
                
				<!-- 项目 2 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2016.03</strong> - <strong>2016.11</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">京津冀环境气象预警平台 | 云网高科</span>
                    <p>主要技术：MyBatis， spring mvc，higcharts，webGis，redis</p>
                    <p>1.负责系统重构升级，核心架构设计与搭建，旧业务代码迁移；</p>
		            <p>2.整合多种数据源数据，统一到Oracle数据库；</p>
		            <p>3.系统新功能开发与日常迭代。</p>
                </div>
                
		        <!-- 项目 1 -->
                <div class="education-box">
                    <time class="education-date">
                        <span><strong class="text-upper">2014.08</strong> - <strong>2016.04</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">全国环境气象服务业务系统台 | 云网高科</span>
                    <p>主要技术：hibernate、spring mvc、tiles2、jsp、POI、Redis、quartz、easyUI、webGis、echarts等</p>
                    <p>1. 参与所有模块的开发与技术方案设计；</p>
		            <p>2. 系统升级，前端插件修改为easyUI，webGis改为高德地图，从原项目中抽取数据库子系统单独部署运行，oracle dataguard HA方案实施部署；</p>
		            <p>3. 系统日常需求迭代，并到四川、河南等地实地部署，人员培训，并对系统进行本地化处理。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
