<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-sm-12 clear-mrg">
				{% if site.skills %}
                    {% for skill in site.skills %}
                        <div class="progress-bullets crt-animate" style="float: left;width:50%;" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
		                    <strong>{{ skill.name }}</strong>
		                    <span class="progress-bar">
		                    	{% for i in (1..10) %}
		                    		{% if i <= skill.level %}
		                        		<span class="bullet fill"></span>
		                        	{% else %}
				                        <span class="bullet"></span>
		                        	{% endif %}
		                        {% endfor %}
		                    </span>
                            <!--<strong class="progress-title">{{ skill.name }}</strong>
		                    <span class="progress-bar">
		                    	{% for i in (1..10) %}
		                    		{% if i <= skill.level %}
		                        		<span class="bullet fill"></span>
		                        	{% else %}
				                        <span class="bullet"></span>
		                        	{% endif %}
		                        {% endfor %}
		                    </span>-->
		                </div>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
