<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span><strong class="text-upper">2017.10</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">北京某交易中心 | WebYun</span>
                    <p>使用技术为spring-boot、Rabbitmq、swagger、redis等等</p>
                    <p>1.负责与客户沟通需求，相关文档编写以及技术栈选择。</p>
					<p>2.负责团队内部培训相关技术栈的内容。</p>
					<p>3.负责核心架构设计与核心开发，技术方案设计与难点技术问题攻关。</p>
					<p>4.负责SoupUI Rest接口自动化测试及相关文档编写。</p>
					<p>5.Rabbitmq，websocket工作台开发。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2014.8</strong> - <strong>2017.10</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">日本本田项目 | 大连IBM</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->